<% if @reviews.count > 0 %>
  <thead>
    <tr>
      <th>User</th>
      <th>Rating</th>
      <th>Review</th>
    <% @product.reviews.reverse.each do |review| %>
      <% if verifyUser?(review.user.id, current_user) %>
        <th></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td class="center"><%= review.user.first_name %></td>
        <td class="<%= getStars(review.rating) %> yellow center"></td>
        <td><%= review.description %></td>
        <% if current_user %>
          <% if verifyUser?(review.user.id, current_user.id) %>
            <td class="center">
              <%= link_to fa_icon('trash'),
                product_review_path(@product.id, review),
                class: 'btn btn-sm btn-danger', method: :delete
              %>
            </td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
<% else %>
  <div class="text-center no-reviews">
    <p>No customer reviews yet.</p>
  </div
<% end %>
